<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">
      Listado de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="estadoTarea" placeholder="Seleccionar Estado" (ionChange)="cambiarEstado($event)">
      <ion-select-option value="publicado">Publicado</ion-select-option>
      <ion-select-option value="en proceso">En Proceso</ion-select-option>
      <ion-select-option value="completado">Completado</ion-select-option>
    </ion-select>
  </ion-item>

  <app-lista-tarea tipo="listadoTareas" [tareas]="tareas"></app-lista-tarea>

</ion-content>

<ion-footer class="ion-no-border" mode="ios" translucent (click)="cancel()">
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">Volver</ion-title>
  </ion-toolbar>
</ion-footer>