<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">
      {{usuario.nombres}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid fixed>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-img [src]="usuario.imgUsuario"></ion-img>
      </ion-col>
      <ion-col size="6">
        Nombres:
      </ion-col>
      <ion-col size="6">
        {{usuario.nombres}}
      </ion-col>
      <ion-col size="6">
        Apellidos:
      </ion-col>
      <ion-col size="6">
        {{usuario.apellidos}}
      </ion-col>
      <ion-col size="6">
        Fecha de Nacimiento:
      </ion-col>
      <ion-col size="6">
        {{usuario.fechaNacimiento | date: 'mediumDate'}}
      </ion-col>
      <ion-col size="6">
        Celular
      </ion-col>
      <ion-col size="6">
        {{usuario.celular}}
      </ion-col>
      <ion-col size="6">
        Correo
      </ion-col>
      <ion-col size="6">
        {{usuario.correo}}
      </ion-col>
      <ion-col size="6">
        Usuario
      </ion-col>
      <ion-col size="6">
        {{usuario.usuario}}
      </ion-col>
      <ion-col size="6">
        Antecedentes Penales
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="verPdf(usuario.pdfCuenta)" expand="block" fill="clear" color="danger">
          Ver Pdf
          <ion-img slot="end" src="/assets/pdf.png" style="width: 80px; height: 80px;"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button fill="outline" (click)="cancel()" expand="block">
            Volver
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="aceptarPostulante(usuario.usuario)" expand="block">
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>