<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center cabecera textoTitulo">
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="verPerfil()">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Ver Perfil</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="tipoSesion==='empleador'" (click)="revisarPostulantes()">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Revisar Postulantes</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="clear" (click)="cerrarSesion()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>
