
.logo::part(image) {
    border-radius: 50%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.perfil::part(image){
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ion-button{
    --background: #B1E2DB;
    --background-activated: #8BD4C9;
    --color: #2D3E50;
    font-weight:bold;
}