.swiper-container{
    width: 100% !important;
    height: 100% !important;
}

.swiper-slide{
    display: flex  !important;
    flex-direction: column !important ;
    align-items: center !important; 
    justify-content: center !important;
}