.img {
    width: 150px;    
    height: 160px;
    padding: 15px 0px;
}
.cajaImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera {
    background-color: #8bd4c9 !important;
}
.textoTitulo {
    color: rgba(5, 22, 155, 0.817);
    font-size: 25px;
}
.ripple-parent {
    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;
}

.rectangle {
    width: auto;
    height: 100%;
    margin: 0% 10%;
}
  