.img {
    width: 150px;    
    height: 160px;
    padding: 15px 0px;
}
.cajaImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ripple-parent {
    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;
}

.rectangle {
    width: auto;
    height: 100%;
    margin: 0% 10%;
}
  