.img {
    width: 110px;    
    height: 170px;
    padding: 10px 0px;
}
.cajaImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ripple-parent {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--ion-color-primary);
}

.rectangle {
    width: auto;
    height: 100%;
    margin: 0% 10%;
}
  