<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center cabecera textoTitulo">
      Busqueda de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>

    <ion-label>Categoria</ion-label>
    <ion-select placeholder="Categoria" [(ngModel)]="idCategoria" (ionChange)="cambiarCategoria($event)">
      <ion-select-option *ngFor="let item of listaCategoria" [value]="item.id">{{item.nombre}}</ion-select-option>
    </ion-select>

  </ion-item>

  <app-lista-tarea [tareas]="listaTareas"></app-lista-tarea>


</ion-content>